!!! 5
%html{:lang => 'en'}
  %head
    %meta{content: 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
    %meta{:charset => "UTF-8"}/
    %meta{name: :viewport, content: 'width=device-width,initial-scale=1'}
    %title= !!@title ? "Autistamor - #{@title}" : "Autistamor"
    %link{rel: "stylesheet", href: "/css/vital.min.css", type: "text/css"}
    %link{rel: "icon", type:"image/x-icon", href:"/img/favicon.ico"}
    %script{type: "text/javascript", src: "/js/htmx.min.js"}

  %body.index
    .row.header
      .section
        %nav
          %a.logo{:href => "/"}
            %img{:alt => "Logo", :src => "img/logo.png"}/
          %label#menu-toggle-label{:for => "menu-toggle"}
          %input#menu-toggle{:type => "checkbox"}/
          .icon-menu
          %ul.menu
            %li
              %a{:href => "#"} Sobre
            %li
              %a{:href => "#"} Autista...
            %li
              %a{:href => "#"} ...Amor
            %li
              %a{:href => "#"} Contato

    .contents
      .row.hero.bg-blue.light-text
        .section.center
          %img{src: "/img/favicon.png", height: "200px", width: "200px"}/
          %h1 Autistamor
      .page
        != content

    .row.footer.center
      .section
        %i.icon-vital.i3x
        %ul
          - ["Github", "Instagram", "Facebook", "LinkedIn", "Twitter"].each do |social|
            %li
              %a{:href => "#"}
                %img{src: "/img/#{social.downcase}.svg", height: "1.8rem", width: "1.8rem"}
                = social
            %li.line │
            
        %hr.small/
        %p © 2022
